<%# vista parcial, se cra colocando en el nombre del archivo _nombre del archico
Esa se inserta en otras paginas para evitar copiar y pegar codigo %>

<div class="container">
    <div class="row space">
        <div class="col-lg-6 offset-lg-3">
            <div class="container-md-12"> 
                <h3><%= "#{titulo} articulo" %></h3>
                <%= form_with(model: article, local: true) do |f|%> <%# article se pasa como variable desde form %>
                    <%= puts "Comprobacion de error #{article.errors.any?}" %>
                    <%# raise article.to_yaml %>
                    <% if article.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(article.errors.count, "error") %> prohibited this category from being saved:</h2>
                            <ul>
                                <% article.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                            </ul>
                         </div>
                    <% end %>
                    <div class="form-group">
                        <%= f.label "Titulo" %>
                        <%= f.text_field :title, placeholder:"Título", class:"form-control" %>        
                    </div>
                    <div>
                        <% categ.each do |category| %> <%# categories se para como variable por form %>
                            <%= check_box_tag "categories[]", category.id %><%= category.name %>
                            <%# [] son para seleccionar varios, la variable debe ser igual a la de controlador sencible a mayusculas%>
                            <%# raise @catego %>
                        <% end %>
                    </div>
                    <div class="form-group">
                        <%= f.label "Articulo" %>         <%# etiqueta, que aparece %>
                        <%= f.text_area :description, placeholder:"Escribe tu articulo", class:"form-control" %>   <%# cuadro de texto grande %>
                    </div>
                    <%# <%= @current_user.id # ver el usurio, esta como parametro siemrpe %> 
                    <div>
                        <%= f.submit "Suminitar", class:"btn btn-primary" %>       <%# boton para suministrar %>
                        <%= link_to "atras", articles_path, class:"btn btn-secondary" %>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
 
<%# el metodo root necesita el _path para poder aceptarlo como metodo de ruta %>


