<%= render "partials/notice"%>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Articulos del Blog</h1>
    </div>
    <%= link_to "Nuevo articulo", new_article_path, class:"btn btn-success col-lg-2 offset-lg-5 space1" %>
  </div>
</div>

<div class="container space1">
  <div class="row">
    <table class="table table-hover col-lg-8  offset-lg-2">
      <thead>
        <tr class="table-primary">
          <th scope="row", class="col-lg-1">Codigo</th>
          <th scope="col", class="col-lg-2">Titulo</th>
          <th scope="col", class="col-lg-auto">Descripción</th>
          <th scope="col", class="col-lg-1">Editar</th>
          <th scope="col", class="col-lg-1">Eliminar</th>
        </tr>
      </thead>
      <% @articulo.each do |item| %>
        <tbody>
          <tr>
            <th scope="col" ><%= item.id %></th>
            <th scope="col"><%= item.title %></th>
            <th scope="col"><%= item.description %></th>
            <th scope="col"><%= link_to "Editar", edit_article_path(item) %></th>
            <th scope="col"><%= link_to "Eliminar #{item.title}", item, method: :delete, data: {confirm:"Seguro mi pana?"} %></th>
            <%# Al colocar link_to me toma la peticion como un GET y no pasa el parametro |item| a el metodo,
            si utilizo button_to, funciona perfecto, pero link_to no.
            el el servidor se ve que toma como GET y no como parametro.
            Se debe activar el Javascript %>
            <%# Estudia esto bien  %>
          </tr>
        </tbody>  
      <% end %>
    </table>
  </div>
</div>
    