<%# la vista show esta hecha para que muestre los parametros y los muestre
cambia la ulr de show a la der articulo %>
<%= render "partials/notice" %>

<%= @article.inspect %>
<h1> <%= @article.title %> </h1>
<h3> <%= @article.description %> </h3>
<% if @article.user != nil %>
    <h3> <%= @article.user.email %> </h3>
<%else%>
    <h6><%= "No hay usuario registrado para este articulo"%> </h6>
<%end%>
<% @article.categories.each do |article| %> <%#  Al estar las tablas relacionadas, busco en @article(objeto).categories(array de categorias dentro del objeto) (estan todas las categorias agregadas al objeto) %>
    <%= article.name %> <%# Esto ya itera deltro del array de @articlecategori name%>
<% end %>
<%# Al estar las bases de datos relacionadas, puedo llamar de 
@article(objeto seleccionado).user(usuario que lo creo).user_column(columna de usuario) %>

<%= link_to "atras", articles_path, class:"btn btn-secondary" %> 
<%# el metodo root necesita el _path para poder aceptarlo como metodo de ruta%>

<%= link_to "Editar", edit_article_path %>
<%#  
<%= link_to "Nuevo", new_article_path >
<%= link_to "Articulos", articles_path >
Desde la terminal colocas rails routes, para ver las rutas del proyecto. 
cada una de ellas se les puede hace _path para se usados como rutas. es lo MAXIMO  %>