<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "Home", root_path, class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link" %>
          <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <%= link_to "Articulos", articles_path, class:"nav-link" %>
      </li>
      <% if user_signed_in?%>
        <%= link_to "Cerrar seción", destroy_user_session_path, method: :delete, class:"nav-link"%>
      <%else%>
        <%= link_to "Iniciar seción", new_user_session_path, class:"nav-link"%>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <%= form_tag articles_search_path, :method => 'get', class:"form-inline my-2 my-lg-0" do %>
      <%= text_field_tag :query, nil, placeholder: 'Articulo a consultar', class:"form-control mr-sm-2" %>
      <%=submit_tag "Search", class:"btn btn-secondary my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>


<%# Este es el buscador del nav bar 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> %>

<%# El buscador en formato rails es: > estudiar esto porque es confuso!
<% form_tag projects_path, :method => 'get' do >
  <p>
    <%= text_field_tag :search, params[:search] >
    <%=submit_tag "Search", :name => nil >
  </p>
  
  FORMULARIO QUE SE USA PARA IR A UNA URL CON PARAMETROS
  ESTUDIAR ESTO, PARA QUE ES EL PARAMS Y EL :NAME => NIL
  <%= form_tag articles_search_path, :method => 'get', class:"form-inline my-2 my-lg-0" do >
      <%= text_field_tag :title, params[:titulo], class:"form-control mr-sm-2" >
      <%=submit_tag "Search", :name => nil, class:"btn btn-secondary my-2 my-sm-0" >
    <% end >
<% end %>