<% categoriobj.each do |category| %>
        <div class="col-lg-4">
            <div class="container">  
                <div class="card border-secondary mb-3" style="max-width: 20rem;">  
                <div class="card-header">Category Name:<%= category.name %></div>
                    <div class="card-body">
                    <h4 class="card-title">Color:</h4>
                    <p class="card-text"><%= category.color %></p>
                    <p class="card-text">Cantidad de articulos: <%= category.articles.count %></p> <%# como las tablas estan unidas pueso acceder a articulos por medio de category.articles%>
                    <% if category.user_id? %>
                        <p class="card-text">Autor: <%= category.user.email %></p>
                    <%else%>
                        <p class="card-text">Autor: No posee </p>
                    <%end%>
                    <div class="row">
                        <div class="col-lg-4">
                        <%= link_to 'Show', category, class:"btn btn-info btn-sm" %>
                        </div>
                        <% if user_signed_in? %>
                        <% if current_user.is_editor?%>
                            <div class="col-lg-4">
                            <%= link_to 'Edit', edit_category_path(category), class:"btn btn-warning btn-sm" %>
                            </div>
                        <% end %>
                        <% if current_user.is_admin? %>
                            <div class="col-lg-4">  
                            <%= link_to "Delete", category, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-sm" %>      
                        </div>
                        <% end%>
                        <% end %>
                    </div>
                    </div>
                </div>      
            </div>
        </div>
<% end %>