
<%= render "partials/notice" %>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>
<p>
Articulos:
<% @category.articles.each do |article| %> <%# Al estar las tablas de articulo y categoria cruzadas, puedo mostrar esto %>
  <%= article.title %>
<%end%>
</p>
<p>
  <strong>Creador:</strong>
</p>
<p>
<% if @category.user != nil %>
  <%= @category.user.email %>
<% else %>
  <%= "No hay autor registrado" %>
<%end%>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
